<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style/popupstyle.css">
  </head>
  <body>
    <div class="popup">
      <div class="settings">
        <div class="weui-tab">
          <div class="weui-navbar">
            <div class="weui-navbar__item  weui-bar__item_on" data-type="frequency_settings">
              任务设置
            </div>
            <div class="weui-navbar__item" data-type="notice_settings">
              通知设置
            </div>
            <div class="weui-navbar__item" data-type="other_settings">
              高级设置
            </div>
          </div>
          <div class="weui-tab__panel">
            <form id="settings" data-persist="garlic" data-domain="true" data-destroy="false" method="POST">
              <div class="frequency_settings settings_box" >
                <div class="weui-cells weui-cells_form">
                  <div class="weui-cell weui-cell_select weui-cell_select-after" v-for="task in tasks">
                    <div class="weui-cell__bd job-m">
                      <span :title="task.description" v-tippy>
                        <a v-if="task.platform == 'm'" class="openMobliePage" :data-url="task.url">{{task.title}}</a>
                        <a v-else :href="task.url" target="_blank">{{task.title}}</a>
                      </span>
                      <span v-show="task.suspended && !task.checked" v-tippy  title="因账号未登录任务已暂停运行">
                        <i class="job-state weui-icon-waiting-circle" @click="showLoginState"></i>
                      </span>
                      <i v-show="task.checked" v-tippy :title="task.checkin_description" class="today weui-icon-success-circle"></i>
                      <i v-show="!task.checked && !task.suspended" @click="retryTask(task)" class="reload-icon" v-tippy :title="task.last_run_description" ></i>
                    </div>
                    <div class="weui-cell__bd">
                      <select class="weui-select" v-auto-save :name="`job${task.id}_frequency`">
                        <option v-for="option in task.frequencyOption" :value="option">
                          {{ frequencyOptionText[option] }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="tips bottom-tips">
                  <p class="page__desc">
                    <a id="notice">京东页面经常更新，唯有你的支持才能让京价保保持更新。</a>
                    <a href="#" class="weui-btn weui-btn_mini weui-btn_primary" data-to="weixin" data-target="ming">打赏</a>
                  </p>
                </div>
              </div>
              <div class="notice_settings settings_box" style="display: none">
                <div class="weui-cells weui-cells_form">
                  <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">不再提示签到通知</div>
                    <div class="weui-cell__ft">
                      <input class="weui-switch" v-auto-save type="checkbox" name="mute_checkin">
                    </div>
                  </div>
                  <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">不再提示领券通知</div>
                    <div class="weui-cell__ft">
                      <input class="weui-switch" v-auto-save type="checkbox" name="mute_coupon">
                    </div>
                  </div>
                  <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">隐藏价保商品信息</div>
                    <div class="weui-cell__ft">
                      <input class="weui-switch" type="checkbox"  v-auto-save name="hide_good">
                    </div>
                  </div>
                  <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">
                      <span data-tippy-placement="top-start" class="tippy" data-tippy-content="开启后不再晚上12点至凌晨6点发送浏览器通知">开启夜晚防打扰</span>
                    </div>
                    <div class="weui-cell__ft">
                      <input class="weui-switch" type="checkbox"  v-auto-save name="mute_night">
                    </div>
                  </div>
                  <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">
                      <span>
                        播放提示音效
                        <i id="listen" class="weui-icon-info-circle tippy " data-tippy-content="试听全部提示音效"></i>
                      </span>
                    </div>
                    <div class="weui-cell__ft">
                      <input class="weui-switch" type="checkbox"  v-auto-save name="play_audio">
                    </div>
                  </div>
                </div>
                <div class="other_actions">
                  <div class="recommendation">
                    <h3 style="text-align: center;color: #666;">服务推荐</h3>
                    <p style="text-align: center;">
                      <span class="el-tag el-tag--success">
                        <a href="https://www.agoda.com/partners/partnersearch.aspx?cid=1809967&pcs=8" target="_blank" data-tippy-placement="top-start" class="tippy" data-tippy-content="使用 Agoda 预计全球酒店">全球特价酒店</a>
                      </span>

                      <span class="el-tag el-tag--warning">
                        <a href="https://www.boslife.me/aff.php?aff=435" data-tippy-placement="top-start" class="tippy" data-tippy-content="小明正在使用的科学上网服务" target="_blank">科学上网服务</a>
                      </span>
                      <span class="el-tag">
                        <a target="_blank" data-tippy-placement="top-start" class="tippy" data-tippy-content="虽然我是京价保，但亚马逊海外购确实比京东海外购靠谱多了" href="https://amazon.cn/%E4%BA%9A%E9%A9%AC%E9%80%8A%E6%B5%B7%E5%A4%96%E8%B4%AD/b/ref=sa_menu_top_ags_l1?ie=UTF8&amp;node=1403206071&_encoding=UTF8&tag=zaoshu-23&linkCode=ur2&linkId=9ab69334b125fbabd8452894820cad91&camp=536&creative=3200">亚马逊海外购</a>
                      </span>
                    </p>
                    
                    <div class="recommendedLink">
                      <p v-for="link in recommendedLinks">
                        <a v-if="link.moblie" class="openMobliePage" :style="link.style" :data-url="link.url">{{link.title}}</a>
                        <a v-else :href="link.url" :style="link.style" class="weui-form-preview__btn weui-form-preview__btn_primary" target="_blank">{{link.title}}</a>
                      </p>
                    </div>
                  </div>
                   
                  <h3 style="text-align: center;color: #666;">关注京价保</h3>
                  <p style="text-align: center;margin-top: -10px;">
                    <a href="https://t.me/jingjiabao" class="weui-btn weui-btn_mini weui-btn_plain-default tippy" data-tippy-placement="top-start" data-tippy-content="通过电报群接收京价保的最新消息" target="_blank">京价保@Telegram</a>
                    <a href="#" id="openWechatCard" class="weui-btn weui-btn_mini weui-btn_plain-default tippy" data-tippy-placement="top-start" data-tippy-content="关注京价保的公众号">京价保公众号</a>
                  </p>
                </div>
              </div>
              <div class="other_settings settings_box" style="display: none">
                <div class="weui-cells weui-cells_form">
                  <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__bd">
                      <span data-tippy-placement="top-start" class="tippy" data-tippy-content="京东价格保护的时间不同商品不同，大部分商品是7天价保">监控订单范围</span>
                    </div>
                    <div class="weui-cell__bd">
                      <select class="weui-select" v-auto-save name="price_pro_days">
                        <option value="7">最近7天</option>
                        <option value="15">最近15天</option>
                        <option value="30">最近30天</option>
                      </select>
                    </div>
                  </div>
                  <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__bd">
                      <span data-tippy-placement="top-start" class="tippy" data-tippy-content="商品降价小于“最小价差”时将不会自动申请价保">最小价差</span>
                    </div>
                    <div class="weui-cell__bd">
                      <select class="weui-select" v-auto-save name="price_pro_min">
                        <option value="0.1">0.1元</option>
                        <option value="0.5">0.5元</option>
                        <option value="1">1元</option>
                        <option value="5">5元</option>
                      </select>
                    </div>
                  </div>
                 
                  <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">
                      <span data-tippy-placement="top-start" class="tippy" data-tippy-content="如果您是Plus会员，在价保时会选择使用Plus价格来做对比">我是Plus会员</span>
                    </div>
                    <div class="weui-cell__ft">
                      <input class="weui-switch" type="checkbox"  v-auto-save name="is_plus">
                    </div>
                  </div>
                  <!-- @if Browser='chrome' -->
                  <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">
                      <span data-tippy-placement="top-start" class="tippy" data-tippy-content="开启剁手保护模式后，每次购物时京价保将向你发起灵魂质问，帮你极致省钱">剁手保护模式</span>
                    </div>
                    <div class="weui-cell__ft">
                      <input class="weui-switch" type="checkbox"  v-auto-save name="hand_protection">
                    </div>
                  </div>

                  <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">
                      <span data-tippy-placement="top-start" class="tippy" data-tippy-content="京东热卖是带有推荐的链接落地页，开启本选项后将自动为你把该页面跳转到商品页">自动跳转热卖页</span>
                    </div>
                    <div class="weui-cell__ft">
                      <input class="weui-switch" type="checkbox"  v-auto-save name="auto_gobuy">
                    </div>
                  </div>
                  <!-- @endif -->

                  <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">
                      <span data-tippy-placement="top-start" class="tippy" data-tippy-content="开启本选项后，发现商品降价有价保机会时，京价保只会发送浏览器提醒，而不会自动提交价保申请（不推荐开启此选项）">被动价保模式</span>
                    </div>
                    <div class="weui-cell__ft">
                      <input class="weui-switch" type="checkbox" v-auto-save="{ notice: '开启本选项后，发现商品降价有价保机会时，京价保只会发送浏览器提醒，而不会自动提交价保申请' }" name="prompt_only">
                    </div>
                  </div>

                  <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">
                      <span data-tippy-placement="top-start" class="tippy" data-tippy-content="在右侧“最近订单”中京价保提供的商品链接包含了京东联盟的跳转，它不会影响你，却能给开发者提供一些收入，帮助京价保保持更新。">停用最近订单的链接</span>
                    </div>
                    <div class="weui-cell__ft">
                      <input class="weui-switch" type="checkbox" v-auto-save name="disabled_link">
                    </div>
                  </div>
                  <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">
                      <span data-tippy-placement="top-start" class="tippy" data-tippy-content="该功能会自动跳转http的访问至https，这能更安全的访问京东以及防止运营商劫持（而且这样你就不会把劫持跳转的锅甩到京价保身上了）。">强制https访问京东</span>
                    </div>
                    <div class="weui-cell__ft">
                      <input class="weui-switch" type="checkbox"  v-auto-save name="force_https">
                    </div>
                  </div>
                  <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">
                      <span data-tippy-placement="top-start" class="tippy" data-tippy-content="停用价格走势功能将停止上报京价保在本地获取到的商品价格同时停止展示价格走势图">停用价格走势图</span>
                    </div>
                    <div class="weui-cell__ft">
                      <input class="weui-switch" type="checkbox"  v-auto-save="{ notice: '停用价格走势功能将停止上报京价保在本地获取到的商品价格，同时也会停止展示价格走势图' }" name="disable_pricechart">
                    </div>
                  </div>
                </div>
                <div class="other_actions">
                  <p class="help_btns" style="text-align: center;">
                    <span class="el-tag el-tag--success">
                      <a href="#" id="openFeedback" data-tippy-placement="top-start" class="tippy" data-tippy-content="向作者提供功能建议或京东活动的地址，帮助京价保及时更新">建议反馈</a>
                    </span>
                    <span class="el-tag el-tag--warning">
                      <a href="https://blog.jjb.im/faq.html" target="_blank" data-tippy-placement="top-start" class="tippy" data-tippy-content="了解一些常见问题的解答">常见问题</a>
                    </span>
                  </p>

                  <p style="text-align: center;">
                    <a href="#" id="clearAccount" class="weui-btn weui-btn_mini weui-btn_plain-default tippy" data-tippy-placement="top-start" data-tippy-content="在登录时勾选记住密码可保存新的密码">清除账号密码和记录</a>
                  </p>
                </div>
                <p class="text-tips version showChangeLog tippy" data-tippy-content="点击查看版本更新记录"> 当前版本：{{version}} </p>
              </div>
            </form>
          </div>
        </div>
        <div class="bottom-box">
          <div class="avatar">
            <a id="loginState" class="tippy login-state showLoginState" data-tippy-placement="top-start" data-tippy-content="未能获取登录状态"></a>
          </div>
          <div class="links">
            <span class="el-tag el-tag--success">
              <a href="#" class="switch-paymethod tippy" data-tippy-placement="top-start" data-tippy-content="打赏开发者"  data-to="
              wechat" data-target="ming">打赏开发者</a>
            </span>
            <span class="el-tag el-tag--danger">
              <a href="#" class="switch-paymethod tippy" data-tippy-placement="top-start" data-tippy-content="天天领支付宝红包""  data-to="alipay" data-target="redpack">支付宝红包</a>
            </span>
            <span class="el-tag el-tag--warning">
              <a href="#" id="openjEventCard" data-tippy-placement="top-start" class="tippy" data-tippy-content="热门的促销活动推荐">活动推荐</a>
            </span>
            <span class="el-tag">
              <a data-tippy-placement="top-start" class="tippy" data-tippy-content="PLUS会员每个月可以领取总额100元的全品类券，但是领取后24小时就会失效，因此推荐每次购物前领取" href="https://plus.jd.com/coupon/index"
                target="_blank">领PLUS券</a>
            </span>
          </div>
        </div>
        
      </div>

      <div class="contents">
        <div class="weui-tab">
          <div class="weui-navbar">
            <div class="weui-navbar__item  weui-bar__item_on" data-type="orders">
              最近订单
              <a href="https://order.jd.com/center/list.action" target="_blank" data-tippy-placement="top-start" class="tippy" data-tippy-content="打开京东订单列表">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" style="margin-bottom: -1px">
                  <path fill="#fff" stroke="#888" d="M1.5 4.518h5.982V10.5H1.5z"></path>
                  <path d="M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z" fill="#888"></path>
                  <path d="M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z" fill="#fff"></path>
                </svg>
              </a>
            </div>
            <div class="weui-navbar__item" data-type="messages">
              最近通知
              <span id="unreadCount" class="weui-badge">0</span>
            </div>
          </div>
          <div class="weui-tab__panel">
            <div id="orders" class="weui-cells contents-box orders">
              <div class="orders" v-if="orders && orders.length > 0">
                <li v-for="order in orders" v-show="order.goods && order.goods.length > 0">
                  <div class="order_time"> 下单时间： {{order.displayTime}}
                    <span v-show="order.id" v-tippy :title="hiddenOrderIds.indexOf(order.id) > -1 ? '显示订单' : '隐藏订单'" :class="hiddenOrderIds.indexOf(order.id) > -1 ? 'show-order' : 'hide-order'" @click="toggleOrder(order)"></span>
                  </div>
                  <div v-for="good in order.goods" v-show="hiddenOrderIds.indexOf(order.id) > -1 ? false : true">
                    <div class="weui-cell good" v-if="good && good.order_price > 0">
                      <div class="weui-cell__bd">
                        <div class="good_title">
                          <a :href="`https://jjb.zaoshu.so/good/${good.sku}`" v-if="good.sku && !disabled_link" target="_blank">
                            <img v-if="good.img" :src="`https:${good.img}`" @error.once="backup_picture($event)" class="backup_picture" :alt="good.name">
                            <p>{{good.name}}</p>
                            <span class="count" v-if="good.quantity">&times; {{good.quantity}}</span>
                          </a>
                          <div v-else>
                            <img v-if="good.img" :src="`https:${good.img}`" @error.once="backup_picture($event)" class="backup_picture" :alt="good.name">
                            <p>{{good.name}}</p>
                          </div>
                          
                        </div>
                      </div>
                      <div class="weui-cell__ft">
                        <span class="order_price">￥{{good.order_price}}</span>
                        <div class="sku_price" v-if="skuPriceList[good.sku]">
                          <span class="new_price down" v-if="good.order_price > skuPriceList[good.sku].price">￥{{skuPriceList[good.sku].price}}</span>
                          <span class="new_price up" v-else-if="good.order_price < skuPriceList[good.sku].price">￥{{skuPriceList[good.sku].price}}</span>
                          <span class="new_price" v-else>￥{{skuPriceList[good.sku].price}}</span>
                        </div>
                      </div>
                    </div>
                    <p class="success_log" v-for="log in good.success_log">{{log}}</p>
                  </div>
                </li>
                <p class="text-tips"><a href="https://blog.jjb.im/price-protection-policy.html" target="_block" v-tippy title="点击了解京东价格保护政策">只显示在价保监控范围内且下单金额大于0的订单（默认15天内）</a></p>
              </div>
              <div class="no_order" v-else> 
                <h4>暂时还没有监控到订单</h4> 
                <p class="tips">只显示选定范围的订单(默认为最近7天)</p>
              </div>
            </div>
            <div id="messages" class="weui-cells contents-box messages">
              <div class="messages-top">
                <div class="messages-header">
                  <button :class="[selectedTab == 'checkin_notice' ? 'selectedTab' : '', 'Button', 'messages-tab', 'Button--plain', 'tippy']" data-tippy-content="签到记录" data-type="checkin_notice" type="button" @click="selectType('checkin_notice')">
                    <span class="checkin"></span>
                  </button>
                  <button :class="[selectedTab == 'notice' ? 'selectedTab' : '', 'Button', 'messages-tab', 'Button--plain', 'tippy']" data-tippy-content="价保记录" data-type="notice" type="button" @click="selectType('notice')">
                    <span class="notice"></span>
                  </button>
                  <button :class="[selectedTab == 'coupon' ? 'selectedTab' : '', 'Button', 'messages-tab', 'Button--plain', 'tippy']" data-tippy-content="领券记录"  data-type="coupon" type="button" @click="selectType('coupon')">
                    <span class="coupon"></span>
                  </button>
                </div>
              </div>
              <div class="message-items" v-if="messages && messages.length > 0">
                <li v-for="message in messages">
                  <div :class="`weui-panel__bd message-item type-${message.type}`" v-show="!selectedTab || selectedTab == message.type">
                    <div class="weui-media-box weui-media-box_text">
                      <h4 class="weui-media-box__title message">
                        <i :class="`${message.type} ${message.batch}`"></i>
                        {{message.title}}
                      </h4>
                      <div class="coupon-box" v-if="message.coupon">
                        <p>
                          <span class="price"> {{message.coupon.price}} </span>
                        </p>
                        <a v-if="message.coupon.batch == 'baitiao'" href="https://vip.jr.jd.com/coupon/myCoupons?default=IOU" target="_blank">{{message.coupon.name}}</a>
                        <a v-else-if="message.coupon.batch" :href="`https://search.jd.com/Search?coupon_batch=${message.coupon.batch}`" target="_blank">{{message.coupon.name}}</a>
                        <a v-else href="https://jjb.zaoshu.so/event/jdc?e=0&p=AyIPZRprFDJWWA1FBCVbV0IUWVALHFRBEwQAQB1AWQkrW1N8UGM3WyZ1VmxSCHMIE1dEbytsKxkOfARUG1IJAhMbVR5KFQsZBFUQWhAyEQ5UH10XARcFZRhYFAQRN2UbWiVJfAZlG1sdBhEBXR5dFDISA1cTXxUBFwBQG1McMhU3F18ES1kiN2UrayUCEjdVKwRRX08%3D&t=W1dCFFlQCxxUQRMEAEAdQFkJ" target="_blank">{{message.coupon.name}}</a>
                      </div>
                      <p v-else class="weui-media-box__desc">{{message.content}}</p>
                      <ul class="weui-media-box__info">
                        <li class="weui-media-box__info__meta">时间: {{message.time}}</li>
                      </ul>
                    </div>
                  </div>
                </li>
              </div>
              <div class="no_message" v-else> 暂时还没有未读消息 </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="weui-tabbar">
            <a id="pricePro" class="weui-tabbar__item tippy" data-tippy-placement="top-start" data-tippy-content="打开京东价格保护页面">
              <img src="static/image/money.png" alt="" class="weui-tabbar__icon">
              <p class="weui-tabbar__label">价保页面</p>
            </a>
            <a class="showChangeLog weui-tabbar__item tippy" data-tippy-placement="top-start" data-tippy-content="查看京价保最近更新记录">
              <img src="static/image/update.png" alt="" class="weui-tabbar__icon">
              <p class="weui-tabbar__label">最近更新</p>
            </a>
            <a id="openGithub" class="weui-tabbar__item tippy" data-tippy-placement="top-start" href="https://github.com/sunoj/jjb" data-tippy-content="点击查看本插件的全部代码" target="_blank">
              <img src="static/image/github.png" alt="" class="weui-tabbar__icon">
              <p class="weui-tabbar__label">源代码</p>
            </a>
          </div>
        </div>
      </div>

      <div id="changeLogs" data-version="{{version}}" data-major="N">
        <div class="js_dialog" style="opacity: 1;">
          <div class="weui-mask"></div>
          <div class="weui-dialog">
            <div class="weui-dialog__hd">
              <strong class="weui-dialog__title">最近更新</strong>
            </div>
            <div class="weui-dialog__bd changelogs">
              <p>2.1.8 对价格保护功能进行大规模改善：自动忽略0元的赠品订单；控制获取价格的并发任务；扩大扫描订单的范围；</p>
              <p>2.1.7 修复京豆任务状态显示；修复全品类券任务识别全品类券的条件；</p>
              <p>2.1.4 修复部分任务状态获取</p>
              <p>2.1.3 增加隐藏订单的选项</p>
              <p>2.1.2 改善任务频率设置和商品价格获取</p>
              <p>2.1.1 优化任务设置；改善任务运行状态显示；</p>
              <p>2.1.0 支持PC价保页面；优化价格获取方法；增加白条每日抽奖任务；增加自动登录时段次数控制；</p>
              <p>2.0.11 更新价保页面地址；修复增加了滑动支持后无法键盘输入的问题；</p>
              <p>2.0.10 支持移动网页登录时新版的滑动手势；</p>
              <p>2.0.9 优化订单显示；修复最小价差设置；优化移动网页版自动登录；</p>
              <p>2.0.8 防止双签奖励等任务的误判；优化订单显示，修复时间问题；优化自动登录；</p>
              <p>2.0.7 改善 PC 登录时需要滑动验证的提示；改善样式；</p>
              <p>2.0.5 延长账号登录有效期；增加验证码识别；增加新版更新提示；优化价格走势图效果；</p>
              <p>2.0.4 不在夜间（0点至6点）运行常规任务；优化处理自动登录需要手机验证码的情况的提示；</p>
              <p><b>2.0.0</b> 增加<a href="https://blog.jjb.im/price-chart.html" target="_blank"><b>价格走势图</b></a>功能；增加“夜晚防打扰”设置项;移除已失效的金融铂金会员返利；</p>
              <p>1.18.6 优化全品类券任务；修复PC版网页自动登录；优化消息渲染策略；浏览店铺领京豆创建的标签页静音；</p>
              <p>1.18.5 <b>增加全品类券任务</b>；改善签到类任务的运行策略；移除京东每日福利；</p>
              <p>1.18.3 修复登录失败情况下下次仍然重试的问题；改善重新运行任务的提示；修复新增的钢镚任务；移除 jdpay.com 的权限</p>
              <p>1.18.2 修复了京东商品页被跳转到手机版的问题；修复移动网页首次登录显示服务出错的问题；改善登录提醒的样式；</p>
              <p>1.18.0 <b>增加登录状态显示</b>；改善手动运行任务；<b>增加一种钢镚签到</b>；修复白条券；<b>增加有价保机会时只提醒的设置</b>；</p>
              <p>1.17.3 修复 Firefox 62 打开“总是使用 HTTPS 访问京东”后，非 HTTPS 的京东网页循环跳转的问题；优化需要登录验证时的自动登录处理；</p>
              <p>1.17.2 优化浏览店铺签到领京豆逻辑，在正常访问店铺时不自动签到；</p>
              <p>1.17.1 增加新手说明；修复频率设置问题；</p>
              <p>1.17.0 <b>增加剁手保护模式</b>；修复设置保存问题；修复京东金融签到；增加一种新的签到；</p>
              <p>1.16.3 修复 Firefox 下的订单和消息展示问题；修复 Opera 领取白条券的提示问题; 降低活动推荐弹出的频率；</p>
              <p>1.16.2 <b>增加领取京豆任务</b>（还可以自动帮你幸运翻牌哦）；<b>增加领取双签奖励的任务</b>；修复精选优惠券任务；</p>
              <p>1.16.0 后台运行任务后清理页面防止由于京东网页造成的 CPU 占用;</p>
              <p>1.15.8 <b>更新获取商品价格的方法</b>，解决部分商品无法获取价格的问题;</p>
              <p>1.15.7 通过一项黑科技（访问京东时伪装成Firefox浏览器）尝试避免登录时需要验证码;</p>
              <p>1.15.6 减少需要登录的次数;</p>
              <p>1.15.5 更新京豆签到网址;<b>增加最小价差配置项</b>;</p>
              <p>1.15.4 修复价保结果监控;</p>
              <p>1.15.3 增加 Plus 会员的判断和开关，在价保时<b>使用 Plus 价格</b>;</p>
              <p>1.15.2 修复京东页面更新导致的价保无法监控；</p>
              <p>1.15.0 给任务完成<b>增加了结果回调</b>，现在大部分任务都能知道是否真正成功了；</p>
              <p>1.14.0 <b>增加了消息模块</b>；修复了任务未自动运行的问题；增加了音效；</p>
              <p>1.13.7 改善<b>自动登录策略</b>；修复需在标签页中完成的任务的问题；</p>
              <p>1.13.4 优化加载速度；大幅降低展示赞赏提示的频率；</p>
              <p>1.13.2 增加更多配置；增加建议反馈；</p>
              <p>1.13.0 增加铂金会员支付返利自动领取；调整账号保存方式；</p>
              <p>1.12.1 改进样式；增加最近更新；</p>
              <p>1.12.0 增加提示音效; 增加随机提示</p> 
              <p>1.11.1 增加京东金融会员签到；增加了查看价格保护列表的链接；</p>
              <p>1.11.0 更严格的防重复运行规则;同一个价格不再重复提交;</p>
              <p>1.10.1 修复从不运行的项目在手动运行后会安排1天后再运行的bug</p>
              <p>1.10.0 修复一个重要的任务运行频率的问题</p>
              <p>1.9.9 增加京东支付签到</p>
              <p>1.9.8 修复按天运行的任务的运行频率</p>
              <p>1.9.7 店铺签到换用tab的模式运行</p>
            </div>
            <div class="weui-dialog__ft">
              <a class="weui-dialog__btn weui-dialog__btn_primary switch-paymethod" data-to="weixin" data-target="ming">太好了，打赏</a>
              <a class="weui-dialog__btn weui-dialog__btn_default" data-action="dismiss">知道了</a>
            </div>
          </div>
        </div>
      </div>

      <!-- 活动推荐 -->
      <div id="jEventDialags">
        <div class="js_dialog" style="opacity: 1;">
          <div class="weui-mask"></div>
          <div class="weui-dialog">
            <div class="weui-dialog__hd">
              <strong class="weui-dialog__title">活动推荐</strong>
            </div>
            <span class="js-close">x</span>
            <iframe id="jEventIframe" frameborder="0" src=""></iframe>
            <div class="weui-toast iframe-loading">
              <i class="weui-loading weui-icon_toast"></i>
              <p class="weui-toast__content">数据加载中</p>
            </div>
          </div>
        </div>
      </div>

      <!-- 公众号 -->
      <div id="wechatDialags">
        <div class="js_dialog" style="opacity: 1;">
          <div class="weui-mask"></div>
          <div class="weui-dialog">
            <div class="weui-dialog__hd">
              <strong class="weui-dialog__title">关注京价保公众号</strong>
            </div>
            <span class="js-close">x</span>
            <div class="weui-dialog__bd">
              <img  class="jjb-official tippy" data-tippy-content="微信搜索“京价保”也可以关注"  alt="jjb-official" width="280">
              <p class="tips">主要发布更新通知，亦可在公众号留言向开发者反馈。</p>
            </div>
          </div>
        </div>
      </div>

      <!-- 建议反馈 -->
      <div id="feedbackDialags">
        <div class="js_dialog" style="opacity: 1;">
          <div class="weui-mask"></div>
          <div class="weui-dialog">
            <div class="weui-dialog__hd">
              <strong class="weui-dialog__title">建议反馈</strong>
            </div>
            <span class="js-close">x</span>
            <iframe id="feedbackIframe" frameborder="0" src=""></iframe>
            <div class="weui-toast iframe-loading">
              <i class="weui-loading weui-icon_toast"></i>
              <p class="weui-toast__content">数据加载中</p>
            </div>
          </div>
        </div>
      </div>

      <!-- 常见问题 -->
      <div id="faqDialags">
        <div class="js_dialog" style="opacity: 1;">
          <div class="weui-mask"></div>
          <div class="weui-dialog">
            <div class="weui-dialog__hd">
              <strong class="weui-dialog__title">常见问题</strong>
            </div>
            <span class="js-close">x</span>
            <iframe id="faqIframe" src="" frameborder="0"></iframe>
            <div class="weui-toast iframe-loading">
              <i class="weui-loading weui-icon_toast"></i>
              <p class="weui-toast__content">数据加载中</p>
            </div>
          </div>
        </div>
      </div>

      <!-- 信用卡推荐 -->
      <div id="recommendCardDialags">
        <div class="js_dialog" style="opacity: 1;">
          <div class="weui-mask"></div>
          <div class="weui-dialog">
            <div class="weui-dialog__hd">
              <strong class="weui-dialog__title">信用卡推荐</strong>
            </div>
            <span class="js-close">x</span>

            <ul class="segmented-control">
              <li class="segmented-control__item checked">
                <span class="segmented-control__label switch-cardbank" data-bank="citic">中信</span>
              </li>
              <li class="segmented-control__item">
                <span class="segmented-control__label switch-cardbank" data-bank="spd">浦发</span>
              </li>
              
              <li class="segmented-control__item">
                <span class="segmented-control__label switch-cardbank" data-bank="bankcomm">交行</span>
              </li>
            </ul>
            <div class="weui-dialog__bd">
              <div class="card-box spd">
                <div class="card-name">
                  <h3>浦发简约白金卡</h3>
                  <p class="sub-title">白金卡，免年费，受邀奖励50元刷卡金</p>
                </div>
                <div class="bankcard">
                  <div class="qrcode">
                    <h4>办卡扫码</h4>
                    <img src="static/image/spd_qrcode.png" >
                  </div>
                  <img src="static/image/spd.png" class="card">
                </div>
                <a class="weui-btn weui-btn_plain-primary openMobliePage" style=" width: 80%;" data-url="https://ecentre.spdbccc.com.cn/entry_cobber_union/pageController/myStickerLink.htm?cid=2353994">去申请</a>
              </div>

              <div class="card-box citic">
                <div class="card-name">
                  <h3>中信i白金</h3>
                  <p class="sub-title">白金卡，刷卡免年费，网络交易双倍积分</p>
                </div>
                <div class="bankcard">
                  <div class="qrcode">
                    <h4>办卡扫码</h4>
                    <img src="static/image/citic_qrcode.png">
                  </div>
                  <img src="static/image/citic.png" class="card">
                </div>
                <a class="weui-btn weui-btn_plain-primary openMobliePage" style=" width: 80%;" data-url="https://creditcard.ecitic.com/m/tjbk/card_list.html?uid=TJ56429635&sid=SJTJBK">去申请</a>
              </div>

              <div class="card-box bankcomm">
                <div class="card-name">
                  <h3>交行Y-Power卡</h3>
                  <p class="sub-title">算了，这张卡不怎么样，你还是看看其他卡吧</p>
                </div>
                <div class="bankcard">
                  <div class="qrcode">
                    <h4>办卡扫码</h4>
                    <img src="static/image/bankcomm_qrcode.png">
                  </div>
                  <img src="static/image/bankcomm.png" class="card">
                  
                </div>
              </div>
              <p class="text-tips"> 注意部分卡片可能有年费，建议申卡的时候了解清楚年费政策 </p>
            </div>
          </div>
        </div>
      </div>

      <!-- 支持开发者 -->
      <div id="dialogs">
        <!--BEGIN dialog1-->
        <div class="js_dialog" style="opacity: 1;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
              <div class="weui-dialog__hd"><strong class="weui-dialog__title">支持开发者</strong></div>
            <span class="js-close">x</span>
              <ul class="segmented-control">
                <li class="segmented-control__item weixin">
                  <span class="segmented-control__label switch-paymethod" data-to="weixin" data-target="ming">微信</span>
                </li>
                <li class="segmented-control__item alipay">
                  <span class="segmented-control__label switch-paymethod" data-to="alipay" data-target="alipay">支付宝</span>
                </li>
              </ul>
              <div class="weui-dialog__bd weixin_pay">
                <div class="ming">
                  <div class="reward switch-paymethod" data-to="weixin" data-target="samedi">
                    <h4> 打赏插件作者：小明 </h4>
                    <img src="static/image/weixin_pay.png" class="qrcode">
                    <p class="switch-tips">切换打赏 Samedi（声优）</p>
                  </div>
                </div>
                <div class="samedi">
                  <div class="reward switch-paymethod" data-to="weixin" data-target="ming">
                    <h4> 打赏声优：Samedi </h4>
                    <img src="static/image/samedi.png" class="qrcode">
                    <p class="switch-tips">切换打赏 小明（作者）</p>
                  </div>
                </div>
              </div>
              <div class="weui-dialog__bd alipay_pay">
                <div class="alipay switch-paymethod" data-to="alipay" data-target="redpack" >
                  <div class="switch-paymethod" data-to="alipay" data-target="redpack">
                    <img src="static/image/alipay_pay.png" height="200px">
                  </div>
                  <p class="alipay_action">
                    <svg t="1514045821272" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6338"
                      xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20">
                      <path d="M60.220235 215.311059V90.413176A90.473412 90.473412 0 0 1 150.573176 0h722.82353a90.352941 90.352941 0 0 1 90.352941 90.413176v120.470589c-2.800941-0.301176-5.662118 0.903529-8.432941 3.915294-59.632941 66.710588-281.298824 159.864471-292.261647 165.827765-10.962824 5.963294 168.387765 24.003765 292.291765-54.814118a57.524706 57.524706 0 0 0 8.402823-6.475294v614.249412A90.473412 90.473412 0 0 1 873.396706 1024H150.573176a90.352941 90.352941 0 0 1-90.352941-90.413176v-607.472942c123.873882 78.456471 302.802824 60.476235 291.84 54.512942-10.932706-5.963294-231.574588-98.665412-291.84-165.345883zM511.984941 662.588235a150.588235 150.588235 0 1 0 0-301.17647 150.588235 150.588235 0 0 0 0 301.17647z"
                        fill="#F54E4E" p-id="6339"></path>
                    </svg>
                    我先领个红包
                  </p>
                </div>
                <div class="redpack">
                  <div class="pay_reward switch-paymethod" data-to="alipay" data-target="alipay">
                    <img src="static/image/alipay_redpack.jpg" height="330px">
                    <p class="alipay_action">
                      <svg t="1514096092051" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3558"
                      xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                      <path d="M248.384 527.36h-34.56c-29.696 0-53.824 18.176-53.824 40.512v223.36c0 22.336 24.128 40.512 53.888 40.512h34.56c29.76 0 53.888-18.112 53.888-40.512v-223.36c-0.064-22.336-24.192-40.512-53.952-40.512z m491.776-85.888c-46.528-2.752-139.52 2.752-149.12-2.752-9.6-5.44-2.752-46.528 38.272-128.64 31.168-72.256-24.576-142.4-56.064-141.056-31.488 1.408-32.832 4.096-32.832 4.096s-65.28 219.072-135.424 308.032c-26.048 71.232-82.112 56.192-82.112 56.192v277.952s179.2 39.68 273.6 39.68c94.4 0 157.312-20.544 166.912-60.224 9.6-39.68-5.504-41.088 9.6-54.784s31.488-20.544 28.736-43.84c-2.752-23.296-23.232-43.84-6.848-60.224 16.384-16.448 21.888-49.28 5.44-65.728-16.384-16.448 12.288-34.24 17.792-56.128 5.504-21.888-31.424-69.824-77.952-72.576z"
                         fill="#F54E4E" p-id="3559"></path>
                      </svg>
                      继续打赏
                    </p>
                  </div>
                </div>
              </div>
              <div class="weui-dialog__bd reward_tips">
                <p>
                  因为你的支持，京价保才能一直保持更新，适配京东的页面修改，增加更多自动功能。
                </p>
              </div>
              <div class="weui-dialog__ft">
                  <a class="weui-dialog__btn weui-dialog__btn_primary" data-action="paid">付好了</a>
                  <a class="weui-dialog__btn weui-dialog__btn_default" data-action="dismiss">下次吧</a>
              </div>
            </div>
        </div>
      </div>

      <!-- 登录提醒 -->
      <div id="loginNotice">
        <div class="js_dialog" style="opacity: 1;">
          <div class="weui-mask"></div>
          <div class="weui-dialog">
            <div class="weui-dialog__hd title">
              <span class="online-icon"></span>
              <span class="offline-icon"></span>
              <strong class="weui-dialog__title">
                糟糕，京东账号不在登录状态
              </strong>
            </div>
            <div class="weui-dialog__bd loginNotice">
              <div class="page__bd">
              <div class="weui-cells__title">当前账号状态</div>
                <div class="weui-cells">
                  <a data-url="https://passport.jd.com/uc/login" class="login-type_pc tippy" data-tippy-content="未知状态">
                    <div class="weui-cell">
                      <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                        <img src="static/image/pc.svg" style="width: 30px;display: block">
                      </div>
                      <div class="weui-cell__bd">
                        <p>PC 网页</p>
                        <p style="font-size: 13px;color: #888888;">部分任务如金融会员签到、浏览店铺签到使用</p>
                      </div>
                      <div class="weui-cell__ft login-status" style="font-size: 0">
                        <span style="vertical-align:middle; font-size: 17px;" class="status-text">未知</span>
                        <span class="weui-badge weui-badge_dot status-icon" style="margin-left: 5px;margin-right: 5px;"></span>
                      </div>
                    </div>
                  </a>
                  <a data-url="https://wqs.jd.com/my/indexv2.shtml" class="tippy login-type_m openMobliePage" data-tippy-content="未知状态">
                    <div class="weui-cell">
                      <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                        <img src="static/image/m.png" style="width: 30px;display: block">
                      </div>
                      <div class="weui-cell__bd">
                        <p>移动网页</p>
                        <p style="font-size: 13px;color: #888888;">绝大部分任务如价格保护使用</p>
                      </div>
                      <div class="weui-cell__ft login-status" style="font-size: 0">
                        <span style="vertical-align:middle; font-size: 17px;" class="status-text">未知</span>
                        <span class="weui-badge weui-badge_dot status-icon" style="margin-left: 5px;margin-right: 5px;"></span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <p id="know_more">了解更多关于京价保如何使用账号</p>
              <div class="detail">
                <h3>京价保如何使用你的账号来完成任务</h3>
                <p>如你所知，京价保是一个浏览器插件。在你的授权下，京价保代替你自动访问京东的网页来执行一系列操作。京价保的<b>所有功能均为京东官方网页所提供</b>的功能。它所做的一切就是免于你逐一打开页面点击按钮，只不过它不知疲倦，日复一日的执行这些行为。</p>
                <p>很显然，<b>京价保需要您登录京东才能完成你指定的工作</b>。而京东的登录有效期很短，如果您使用扫码登录等方式登录京东，京价保只能在短时间内保持有效。</p>
                <p>强烈建议您在登录时选择<b>“让京价保记住密码并自动登录”</b>，以便京价保自动完成工作。</p>
                <p>京价保确保<b>绝不会将您的密码上传和分享给任何人</b>，您可以通过<a href="https://github.com/sunoj/jjb" target="_blank">审查代码</a>来确认这一点，同时建议您<b>为京东配置一个唯一的登录密码，开启所有的安全措施</b>。</p>
                <p>当登录失效或者需要验证码时，京价保将会提醒你。除非你重新登录，否则京价保将无法继续完成任何工作。</p>
              </div>
            </div>
            <div class="weui-dialog__ft">
              <a id="login" class="weui-dialog__btn weui-dialog__btn_primary">
                <i class="weui-icon-success"></i> 现在登录</a>
              <a class="weui-dialog__btn weui-dialog__btn_default" data-action="dismiss">知道了</a>
            </div>
          </div>
        </div>
      </div>

      <!-- 新手指南 -->
      <div id="admissionTest">
        <div class="js_dialog" style="opacity: 1;">
          <div class="weui-mask"></div>
          <div class="weui-dialog">
            <div class="testbox test-1">
              <div class="weui-dialog__hd">
                <strong class="weui-dialog__title">恭喜安装成功！</strong>
              </div>
              <div class="weui-dialog__bd">
                <p>感谢你使用京价保！以下是一些简单的介绍：</p>
                <p>京价保是一个<a href="https://github.com/sunoj/jjb" target="_blank">公开源代码</a>的浏览器插件。它能自动监控已购商品的价格变化，在降价时自动申请价格保护。还内置一系列替你进行签到、领券、领返利的小任务。</p>
                <p>由于京东网页经常更新，京价保受其影响可能部分功能有时变得不可用，因此京价保会经常更新以保持功能正常。如果你使用的不是 <a href="https://chrome.google.com/webstore/detail/gfgkebiommjpiaomalcbfefimhhanlfd" target="_blank">Chrome 拓展商店</a> 或 <a href="https://addons.mozilla.org/zh-CN/firefox/addon/jjb/" target="_blank">Firefox 官方商店</a> 安装，强烈建议您使用上述渠道安装，只有这样你才能获得官方的自动更新。</p>
                <p>本插件的所有功能均为京东官方网页提供，未利用任何私有 API。</p>
              </div>
              <div class="weui-dialog__ft">
                <a class="weui-dialog__btn weui-dialog__btn_primary answer" data-next="2">继续</a>
              </div>
            </div>
            <div class="testbox test-2">
              <div class="weui-dialog__hd">
                <strong class="weui-dialog__title">授权方式</strong>
              </div>
              <div class="weui-dialog__bd">
                <p>如你所知，京价保可以免费安装而且公开源代码，但，京价保并不是一个免费软件，从发布之初京价保就选择了"打赏任意金额即可获得授权"的模式。</p>
                <p>自2017年诞生以来，京价保至今已经迭代了几十个版本，用户数也已经超过2万人。很遗憾，不像其他商业软件。京价保靠打赏模式带来的收入屈指可数，甚至不及很多公众号一篇文章的打赏。</p>
                <p>很容易就可以了解，写一个软件并维护一年多远比写出一篇公众号文章更难，更不用说这个软件可以给用户带来直接的收益。然而现实却是，如果不强制收费，那么就几乎没人付钱。</p>
                <p>我不是在摇尾乞怜，我们见过很多项目缺乏支持而停止维护，我们是合作者，只不过用一种更优雅的方式合作。</p>
                <p>如果你是新用户，你不必着急现在就给作者打赏，不妨等京价保第一次价保成功。</p>
              </div>
              <div class="weui-dialog__ft">
                <a class="weui-dialog__btn weui-dialog__btn_primary answer" data-next="" >好的</a>
                <a class="weui-dialog__btn weui-dialog__btn_default answer" data-next="3">了解更多</a>
              </div>
            </div>
            <div class="testbox test-3">
              <div class="weui-dialog__hd">
                <strong class="weui-dialog__title">关注京价保</strong>
              </div>
              <div class="weui-dialog__bd">
                <p>京价保从第一个版本开始就开放所有的源代码，有超过 1000 位程序员/工程师在 <a href="https://github.com/sunoj/jjb" target="_blank">Github</a> 关注了京价保的代码，如果你对京价保的代码感兴趣，或者发现什么代码中的问题，亦或是怀疑京价保有什么泄露隐私的小动作，都可以在代码中找到答案。</p>
                <p>京价保还创建了一个公众号，会不定期推送一些功能更新或者相关文章，你还可以通过公众号来提交一些反馈建议。</p>
                <p style="text-align: center;margin-top: -1em;margin-bottom: 0em;">
                  <img class="jjb-official"  width="160"></img>
                </p>

                <p>如果你使用 Telegram，那么你还可以 Telegram 上关注京价保：<a href="https://t.me/jingjiabao" target="_blank">https://t.me/jingjiabao</a> </p>
              </div>
              <div class="weui-dialog__ft">
                <a class="weui-dialog__btn weui-dialog__btn_primary answer" data-next="">知道了</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 试听音效 -->
      <div id="listenAudio">
        <div class="js_dialog" style="opacity: 1;">
          <div class="weui-mask"></div>
          <div class="weui-dialog">
            <div class="weui-dialog__hd">
              <strong class="weui-dialog__title">
                试听语言提示
              </strong>
            </div>
            <div class="weui-dialog__bd">
              <div class="weui-cells">
                <div class="weui-cell weui-cell_access">
                  <div class="weui-cell__bd message listenVoice" data-type="notice" data-batch="jiabao">
                    <span>
                      <i class="notice jiabao"></i>发现价格保护机会
                    </span>
                  </div>
                  <div class="weui-cell__ft"></div>
                </div>
                <div class="weui-cell weui-cell_access">
                  <div class="weui-cell__bd message listenVoice" data-type="notice" data-batch="rebate">
                    <span><i class="notice rebate"></i>金融会员领取到返利</span>
                  </div>
                  <div class="weui-cell__ft"></div>
                </div>
                <div class="weui-cell weui-cell_access">
                  <div class="weui-cell__bd message listenVoice" data-type="checkin_notice" data-batch="bean">
                    <span><i class="checkin_notice bean"></i>签到成功，京豆入账</span>
                  </div>
                  <div class="weui-cell__ft"></div>
                </div>
                <div class="weui-cell weui-cell_access">
                  <div class="weui-cell__bd message listenVoice" data-type="checkin_notice" data-batch="coin">
                    <span><i class="checkin_notice coin"></i>金融签到，钢镚掉落</span>
                  </div>
                  <div class="weui-cell__ft"></div>
                </div>
              </div>
            </div>
            <div class="weui-dialog__ft">
              <a class="weui-dialog__btn weui-dialog__btn_primary switch-paymethod" data-to="weixin" data-target="samedi">
                <i class="weui-icon-success"></i> 打赏声优</a>
              <a class="weui-dialog__btn weui-dialog__btn_default" data-action="dismiss">下次吧</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    
    <!-- body 最后 -->
    <script src="static/popup.js"></script>
  </body>
</html>