.jjb iframe{
    border: 0;
    text-align: center;
    width: 100%;
    height: 200px;
}

.jjb-login{
    cursor: pointer;
    background: #4CAF50;
    border: 1px solid #4CAF50;
    display: block;
    width: 96%;
    height: 31px;
    line-height: 31px;
    color: #fff;
    padding: 4px 2%;
    font-size: 16px;
    text-align: center;
}

.auto_login{
    margin-bottom: 5px;
}

dialog {
    position: fixed;
    width: 50%;
    max-width: 450px;
    min-width: 400px;
    min-height: 160px;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: solid;
    padding: 2em;
    background: white;
    color: black;
    display: block;
}

dialog:not([open]) {
    display: none;
}

dialog h3{
    font-size: 16px;
}

dialog .consideration{
    margin: 10px 0;
    font-size: 15px;
}
dialog .consideration p {
    margin-bottom: 5px;
}

dialog+.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

._dialog_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

dialog.message{
    max-width: none;
    min-width: 300px;
    min-height: auto;
    background: #84c460;
    border-color: rgba(78, 162, 32,0.5);
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

dialog .green-text{
    background-color: #85c360;
    color: #fff;
    font-size: 1.6em;
    font-weight: 600;
}

dialog .tips {
    color: #999;
    font-size: 12px;
    color: #eee;
    margin-top: 10px;
}

dialog.fixed {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}

dialog .actions{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

dialog .actions .forcedbuy {
    margin-right: 15px;
}

dialog .admonish{
    position: absolute;
    bottom: -20px;
    color: #333;
    font-size: 12px;
    left: 50%;
    margin-left: -60px;
    color: #999;
    font-style: italic;
}

dialog .close {
    position: absolute;
    right: 5px;
    top: 3px;
    padding: 5px;
    font-size: 18px;
    color: #555;
    font-weight: 500;
}

@media screen and (min-width: 600px) {
    #username_login .code-box img{
        width: 150px;
        height: 60px;
        margin-left: -70px;
    }
    #input-code .icon-clear {
        right: 150px;
    }
}

.jjbPriceChart{
    position: static;
    float: left;
    padding-top: 10px; 
    width: 100%;
    background-color: #f7f7f7;
    border: 1px solid #eee;
}

.jjbPriceChart .title {
    font-size: 14px;
    padding: 10px;
    padding-top: 0;
    border-bottom: 1px solid #eee;
}

.jjbPriceChart .provider {
    padding: 3px 10px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#jjbPriceChart{
    width: 100%;
    background: #fff;
}

#disablePriceChart{
    float: right;
    padding: 0px 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}